ion-content{
  --background:#e8e8e8 0% 0% no-repeat padding-box;
}
.header {
  background: rgb(67, 97, 238);
  background: linear-gradient(
    180deg,
    rgba(67, 97, 238, 1) 0%,
    rgba(34, 49, 119, 1) 100%
  );
  height: 60px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  .back {
    text-align: left;
    padding-left: 10px;
    z-index: 2;
    ion-button {
      width: 60px;
      margin-left: 15px;
    }
    ion-icon {
      color: #fff;
      font-size: 30px;
    }
    ion-label{
      margin: 15px 0px 10px;
    }
  }
}
.overlay {
  height: auto;
  min-height: 100%;
  background: #e8e8e8 0% 0% no-repeat padding-box;

  .category {
    margin-top: -45px;
    height: 90px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    .item {
      text-align: center;
      display: inline-block;
      width: 100%;
      padding-top: 8px;

      ion-label {
        width: 100%;
        display: inline;
        font-size: 30px;
        color: #666666;
        opacity: 1;
      }
    }
  }

  .body {
    // margin-top:-10px;
    margin-bottom: 80px;
    .store {
      width: 100%;
      margin-top: 5px;

      .id_order {
        width: 100%;

        --ion-grid-column-padding: 0;

        ion-label {
          // padding-left: 10px;
          width: 100%;
          text-align: left;
          color: #05be4f;
          font-weight: bold;
          font-size: 15px;
        }
      }
      .time {
        width: 100%;

        --ion-grid-column-padding: 0;

        ion-label {
          // padding-right: 30px;
          width: 100%;
          text-align: right;
          color: #666666;
          font-size: 15px;
        }
      }
    }
  }
  .menu {
    padding: 0;
    background:none;
  }
  .img_empty {
    margin: auto;
    margin-top: 150px;
    width: 130px;
    height: 130px;
  }
}
